# Python
__pycache__/
*.py[cod]
*.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project Specific
staticfiles/
.DS_Store
.tmp/
tmp_schema.db
n4/
n5/

# Celery
celerybeat-schedule
celerybeat.pid

# Pytest/Coverage
.pytest_cache/
.coverage
htmlcov/
*.dump
*.sql
data/certbot/
